name: world_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_3d_controller: ^2.3.0
  flutter_survey: ^1.0.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  model_viewer_plus: ^1.10.0
  provider: ^6.1.5+1
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/ 
    - assets/models/
    - assets/models/astronaut.glb
    - assets/models/robot.glb
    - assets/models/tree.glb


